/* Định dạng cho form thêm sách */
#addProductForm {
    background-color: #fff;
    padding: 15px; /* Giảm padding trong form */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0px; /* Giảm khoảng cách giữa các ô nhập */
    width: 300px;
    margin: 0 auto; /* Căn giữa biểu mẫu trên màn hình */
}

/* Định dạng cho label (tiêu đề của các ô nhập) */
#addProductForm label {
    font-size: 14px;
    color: #333;
    font-weight: bold; /* Định dạng đậm cho tiêu đề */
}

/* Định dạng cho các ô input */
#addProductForm input[type="text"],
#addProductForm input[type="number"],
#addProductForm input[type="file"] {
    padding: 8px; /* Giảm padding của các ô nhập */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Góc tròn cho các ô nhập */
    width: 100%; /* Chiếm toàn bộ chiều rộng của form */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi chiều rộng */
    margin-top: 2px;
}