#addProductForm {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 600px;
}

#addProductForm label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

#addProductForm input[type="text"],
#addProductForm input[type="number"],
#addProductForm input[type="file"],
#addProductForm textarea,
#addProductForm select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2px;
}

.product-item{
    display: flex;
}
.product-item .btn{
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    height: 40px;
}

.product-item .name{
    width: 300px;
    margin-left: 20px;
    font-size: 30px;
}
.product-item .price{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 90px;
}
#addProductForm {
    z-index: 10;
    position: absolute;
    left: 50%;
    top:112px;
    transform: translateX(-50%);
    border: 1px solid gray;
}

.add-book-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2500px;
    display: none; /* Thay đổi từ none thành flex để hiển thị */
    background-color: rgba(63, 63, 63, 0.464); /* Màu nền mờ */
    z-index: 10;
    justify-content: center;
    align-items: center;
}